{{- if $.Values.env }}
{{- if $.Values.env.public }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Values.name }}
data:
    {{- range $name, $value := $.Values.env.public }}
    {{ $name | quote}}: {{ $value | quote}}
    {{- end }}
{{- end}}
{{- end}}
---
{{- if $.Values.configMaps }}
{{- range $configMap := $.Values.configMaps }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Values.name }}-{{ $configMap.name }}
  labels:
    app: {{ $.Values.name }}
    env: {{ $.Values.environment }}
data:
  {{- range $key, $value := $configMap.data }}
  {{ $key }}: |
{{ $value | indent 4 }}
  {{- end }}
---
{{- end }}
{{- end }}
