{{- if eq "cronjob" (default "deployment" $.Values.type) }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $.Values.name }}
  labels:
    app: {{ $.Values.name }}
    env: {{ $.Values.environment }}
spec:
  {{- if $.Values.suspended }}
  suspend: true
  {{- end }}
  schedule: {{ $.Values.schedule | squote }}
  startingDeadlineSeconds: 30
  successfulJobsHistoryLimit: 0
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      labels:
        app: {{ $.Values.name }}
        env: {{ $.Values.environment }}
    spec:
      template:
        metadata:
          labels:
            app: {{ $.Values.name }}
            env: {{ $.Values.environment }}
        spec:
          serviceAccountName: {{ $.Values.name }}
          restartPolicy: Never
          containers:
          - name: {{ $.Values.name }}
            image: "{{ $.Values.image.registry }}/{{ $.Values.image.name }}:{{ $.Values.image.tag }}"
            imagePullPolicy: {{ $.Values.image.pullPolicy }}
            {{- if $.Values.image.command }}
            {{- if kindIs "string" $.Values.image.command }}
            command: [{{ $.Values.image.command | quote }}]
            {{- else }}
            command:
            {{- range $.Values.image.command }}
            - {{ . | quote }}
            {{- end }}
            {{- end }}
            {{- end }}
            {{- if $.Values.image.args }}
            args:
            {{- range $.Values.image.args }}
            - {{ . | quote }}
            {{- end }}
            {{- end }}
            envFrom:
              {{- if $.Values.env }}
              {{- if $.Values.env.public }}
              - configMapRef:
                  name: {{ $.Values.name }}
              {{- end }}
              {{- if $.Values.env.secrets }}
              {{- range $index, $secret := $.Values.env.secrets }}
              - secretRef:
                  name: {{ $.Values.name }}-{{ $index }}
              {{- end }}
              {{- end }}
              {{- end }}
            {{- if $.Values.resources }}
            resources:
{{ toYaml $.Values.resources | indent 14 }}
            {{- end }}
            {{- if $.Values.configMaps }}
            volumeMounts:
            {{- range $configMap := $.Values.configMaps }}
            - name: {{ $configMap.name }}
              mountPath: {{ $configMap.mountPath }}
              {{- if $configMap.subPath }}
              subPath: {{ $configMap.subPath }}
              {{- end }}
              {{- if $configMap.readOnly }}
              readOnly: {{ $configMap.readOnly }}
              {{- end }}
            {{- end }}
            {{- end }}
          {{- if $.Values.configMaps }}
          volumes:
          {{- range $configMap := $.Values.configMaps }}
          - name: {{ $configMap.name }}
            configMap:
              name: {{ $.Values.name }}-{{ $configMap.name }}
              {{- if $configMap.defaultMode }}
              defaultMode: {{ $configMap.defaultMode }}
              {{- end }}
          {{- end }}
          {{- end }}
{{- end }}
