{{- if .Values.env }}
{{- if .Values.env.secrets }}
{{- $appName := .Values.name }}
{{- range $index, $secret := .Values.env.secrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $appName }}-{{ $index }}
  labels:
    app: {{ $appName }}
spec:
  refreshInterval: 5m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: secretstore
  target:
    name: {{ $appName }}-{{ $index }}
    creationPolicy: Owner
  {{- if kindIs "string" $secret }}
  {{- /* Legacy format: import all keys from the secret */ -}}
  dataFrom:
  - extract:
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
      key: {{ $secret }}
  {{- else if kindIs "map" $secret }}
  {{- /* New format: selective key mapping */ -}}
  {{- if $secret.keys }}
  data:
  {{- range $keyMapping := $secret.keys }}
  - secretKey: {{ $keyMapping.name }}
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
      key: {{ $secret.source }}
      property: {{ $keyMapping.remoteKey }}
  {{- end }}
  {{- else }}
  {{- /* Map format but no keys specified, import all */ -}}
  dataFrom:
  - extract:
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
      key: {{ $secret.source }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
