{{- if $.Values.httpRoutes -}}
{{- if $.Values.httpRoutes.enabled -}}
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: {{ $.Values.name }}-routes
  labels:
    app: {{ $.Values.name }}
    env: {{ $.Values.environment }}
spec:
  parentRefs:
  - name: {{ $.Values.name }}
    kind: Service
    group: ""
    port: {{ index $.Values.service.ports 0 }}
  rules:
  {{- range $route := $.Values.httpRoutes.routes }}
  {{- if eq $route.type "exact" }}
  - matches:
    - path:
        type: Exact
        value: {{ $route.path }}
      {{- if $route.method }}
      method: {{ $route.method }}
      {{- end }}
  {{- else if eq $route.type "prefix" }}
  - matches:
    - path:
        type: PathPrefix
        value: {{ $route.path }}
      {{- if $route.method }}
      method: {{ $route.method }}
      {{- end }}
  {{- else if eq $route.type "regex" }}
  - matches:
    - path:
        type: RegularExpression
        value: {{ $route.path }}
      {{- if $route.method }}
      method: {{ $route.method }}
      {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}