{{- if and $.Values.linkerd $.Values.linkerd.enabled }}
{{- if and $.Values.httpRoutes $.Values.httpRoutes.enabled }}
---
apiVersion: policy.linkerd.io/v1beta1
kind: Server
metadata:
  name: {{ $.Values.name }}-server
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ $.Values.name }}
    env: {{ $.Values.environment }}
spec:
  podSelector:
    matchLabels:
      app: {{ $.Values.name }}
      env: {{ $.Values.environment }}
  port: {{ index $.Values.service.ports 0 | quote }}
  proxyProtocol: HTTP/1
{{- end }}
{{- end }}
