{{- if $.Values.serviceProfile -}}
{{- if $.Values.serviceProfile.enabled -}}
---
apiVersion: linkerd.io/v1alpha2
kind: ServiceProfile
metadata:
  name: {{ $.Values.name }}.{{ $.Release.Namespace }}.svc.cluster.local
  namespace: {{ $.Release.Namespace }}
  labels:
    app: {{ $.Values.name }}
    env: {{ $.Values.environment }}
spec:
  routes:
  {{- range $route := $.Values.serviceProfile.routes }}
  - name: {{ $route.name }}
    condition:
      {{- if $route.method }}
      method: {{ $route.method }}
      {{- end }}
      {{- if eq $route.type "exact" }}
      pathRegex: {{ printf "^%s$" $route.path | quote }}
      {{- else if eq $route.type "prefix" }}
      pathRegex: {{ printf "^%s.*" $route.path | quote }}
      {{- else if eq $route.type "regex" }}
      pathRegex: {{ $route.path | quote }}
      {{- end }}
  {{- end }}
{{- end }}
{{- end }}
